@model List<MenuLeftJoinCategory>

	<h1>@ViewBag.Baslik Ürünleri Yönetimi</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Adı</th>
            <th scope="col">Detay</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Görsel</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
            <tr>
                <th scope="row">@test.FoodName</th>
                <td>@test.FoodDescription</td>
                <td>@test.FoodPrice TL</td>
                <td><img src="@test.FoodImageUrl" width="200px" alt="Alternate Text" /></td>
                <td>
                    <a href="#" class="btn btn-success">Güncelle</a>
                    <a href="#" class="btn btn-danger">Sil</a>
                </td>
            </tr>

        }
        
    </tbody>
</table>

